body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.2em;
    background-image: linear-gradient(180deg, rgba(0,0,0), rgb(122,1,18)); 
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
   background: 
   linear-gradient(90deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 300px, rgba(255,255,255,0) 600px),
   url(images/souleatercast.jpg) right top no-repeat,
   black;
   padding: 2em;
}

p {
    margin-bottom: 1em;
}

.lead {
    color: #fff;
    width: 300px;
}

h1 img {
    max-width: 100%;
}

header button {
    background-color: rgb(122,1,18);
    background-image: url("images/playbutton.png");
    background-repeat: no-repeat;
    background-position: center left;
    border: solid 1px #fff;
    color: #fff;
    padding: 10px;
    padding-left: 25px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    margin-bottom: 3em;
    overflow: auto;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h3 {
    font-weight: bold;
}

.show-info h3 {
    color: #000;
}

.tv-14 {
    border: solid 1px #000;
    padding: 0 3px;
    font-size: smaller;
}

nav {
    background-color: black;
    padding: 5px;
    margin-bottom: 1em;
}

nav li {
    display: inline;
    border-right: solid 1px rgb(122,1,18);
    padding: 0 1.5em;
}

nav li:last-child {
    border: none;
}

nav a {
    color: rgb(122,1,18) ;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

nav a:visited {
    color: rgba(245,161,3);
}

nav a:hover {
    text-decoration: underline;
    color: rgb(245,161,3)
}

.col-left {
    width: 48%;
    float: left;
}
.col-right {
    width: 48%;
    float: right;
}
footer {
    float: left;
}

.episodes-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
  }

  .responsive-img{
      width: 100%;
  }
  
  .episodes h2, h3{
      color: white;
  }

  .card{
     margin:1em;
     flex:0 0 224px;
  }

  .card h3{
      color:  rgba(245,161,3);
  }

  .card p {
      color: white;
  }
  
 @media (max-width: 768px) {
    .col-left {
        width: 100%;
        float: none;
    }
    .col-right {
        width: 100%;
        float: none;
    }
}